<div>
    目前時間:@System.DateTime.Now
</div>
<div>
    <label>縣市</label>
    <input type="Text" />
</div>
<div>
    <label>區</label>
    <input type="Text" />
</div>
<div>
    <label>地址</label>
    <input type="Text" />
</div>
<script type="text/javascript">
    alert("aa");
</script>