
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/_LayoutPage.cshtml";
}
@{Html.RenderPartial("_SysDatePartial");}
</br>
@{Html.RenderPartial("_SysDatePartial");}
</br>
@{Html.RenderPartial("_SysDatePartial");}
</br>
<table class="table table-bordered table-striped">
    <tr>
        <td>測試</td>
        <td>123</td>
        <td>測試</td>
        <td>123</td>
    </tr>
    <tr>
        <td>測試</td>
        <td>111</td>
        <td>測試</td>
        <td>111</td>
    </tr>
</table>
@{Html.RenderPartial("_SysDatePartial");}
@{Html.RenderAction("", "");}